body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0.5rem;
  min-width: 350px;
}

body * {
  box-sizing: border-box;
}

.nanta-ui,
.nanta-ui__container,
.nanta-ui__search {
  width: 100%;
}

#nanta-search-input {
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
}

.nanta-ui__display {
  max-height: 350px;
  overflow-y: auto;
}

.nanta-ui__display.has-results {
  margin-top: 0.5rem;
}

.nanta-ui__search-result {
  position: relative;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  cursor: pointer;
}

.nanta-ui__search-result span {
  width: 100%;
}

.nanta-ui__search-result button {
  position: absolute;
  top: 50%;
  right: 0;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  font-weight: solid;
}

.nanta-ui__search-result:hover {
  background-color: #dcdcdc;
}

.nanta-ui__active-note-body {
  width: 100%;
  min-height: 250px;
  margin-top: 0.5rem;
}

.nanta-ui__new-entry {
  font-size: 1rem;
}